body {
  font-family: sans-serif;
  margin: 20px;
}

header h1 {
  color: rgb(89, 146, 232);
  text-align: center;
}

.section-header {
  background-color: #e39b9b;
  padding: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  border: 1px solid #4545ec;
}

section {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.item-box {
  background-color: #fcbaba;
  padding: 15px;
  width: 150px;
  border: 1px solid #ccc;
}

ul,
ol {
  margin-top: 10px;
  padding-left: 20px;
}

.image-box {
  border: 1px solid #000;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
